<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Josefin+Slab:100' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <title>My Website</title>
    
</head>
<body>
	<div class="container"> <!-- fluid container -->
  		
  		<div id="head">
  			<% include nav.ejs %>
			<% include head.ejs %>
 		</div>
   		


    
	</div>
</body>
</html>
